* {
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=range] {
    -webkit-appearance: none;

    background-color: #FEF7FF;
    width: 180px;
    height: 4px;
    outline: none;

}

input[type=range]::-moz-range-track {
    width: 180px;
    height: 4px;
    background: darkgray;
    border: none;
    border-radius: 3px;
}

